@use "@/styles/settings/colors";
@use "@/styles/settings/typography";

@mixin color($colors) {
  @each $name, $color in $colors {
    &--#{$name} {
      color: $color;
    }
  }
}
@mixin text-size($sizes) {
  @each $name, $size in $sizes {
    &--#{$name} {
      font-size: $size;
    }
  }
}

.text {
  line-height: 1.8;
  letter-spacing: -0.01em;
}

.text-color {
  @include color(colors.$colors);
}

.text-size {
  @include text-size(typography.$text-sizes);
}
