@use "@/styles/settings/colors";
@use "@/styles/settings/typography";
@use "@/styles/settings/spacing";

.btn {
  --bg-color: transparent;
  --text-color: inherit;
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: typography.$font-family-secondary;
  font-weight: 700;
  font-size: typography.$text-xs;
  text-decoration: none;
  color: var(--text-color);

  &--primary {
    --bg-color: #{colors.$bg-primary};
    // --text-color: #{colors.$white};
  }

  &--secondary {
    --bg-color: #{colors.$bg-secondary};
    // --text-color: #{colors.$cta-primary};
  }

  &--white {
    --bg-color: #{colors.$white};
    // --text-color: #{colors.$cta-primary};
  }

  &--small {
    padding: spacing.$tiny spacing.$sm;
  }

  &--medium {
    padding: spacing.$xs spacing.$lg;
  }

  &--large {
    padding: spacing.$xs spacing.$xl;
  }

  &--icon {
    padding: spacing.$xxs spacing.$xs;
  }

  &--fill {
    background: var(--bg-color);
    // color: var(--text-color);
  }

  &--outline {
    background: transparent;
    // color: var(--text-color);
    border: 1px solid var(--bg-color);
  }

  &__auto {
    padding: auto;
  }

  &--link {
    text-decoration: none;

    font-family: typography.$font-family-secondary;
    line-height: 1.25;
    letter-spacing: 0.02em;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      margin-bottom: -3px;
      width: calc(100% + 7px);
      border-bottom: 1px solid var(--bg-color);
    }
  }
}

.text {
  &--white {
    --text-color: #{colors.$white};
  }

  &--primary {
    --text-color: #{colors.$cta-primary};
  }

  &--secondary {
    --text-color: #{colors.$cta-secondary};
  }
}
