@use "@/styles/settings/colors";
@use "@/styles/settings/typography";
@use "@/styles/settings/spacing";

.protected {
  padding-block: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 850px;
    background-color: colors.$grey-concrete;
    text-align: center;
    padding: 128px 153px;
    display: flex;
    flex-direction: column;
    row-gap: spacing.$xs;
  }

  &__description {
    color: colors.$text-thertiary;
    line-height: 1.8;
  }
}
