@use "@/styles/settings/colors";
@use "@/styles/settings/typography";
@use "@/styles/settings/spacing";

.protected {
  padding-block: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    max-width: 850px;
    background-color: #f3f3f3;
    text-align: center;
    padding: 128px 153px;
    display: flex;
    flex-direction: column;
    row-gap: spacing.$xs;
  }

  &__description {
    color: colors.$text-thertiary;
    line-height: 1.8;
  }

  &__password-container {
    position: relative;
    --size-svg: 26px;
    input {
      width: 100%;
      height: 100%;
      padding: spacing.$xxs spacing.$xs;
      padding-left: calc(spacing.$xs + calc(var(--size-svg)) + spacing.$xxs);
      border: none;
      color: colors.$text-thertiary;
      &::placeholder {
        color: colors.$text-thertiary;
      }
    }

    svg {
      position: absolute;
      left: 19px;
      top: 50%;
      transform: translateY(-50%);
      width: var(--size-svg);
      height: var(--size-svg);
      color: colors.$bg-secondary;
    }
  }
}
