@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";
@use "@/styles/settings/sizes";
@use "@/styles/tools/mixins";

.header {
  isolation: isolate;
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;

  @include mixins.media-query(sizes.$tablet-xs-vw) {
    max-height: spacing.$headr-size;
  }

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: spacing.$xs;
  }

  &__left,
  &__right {
    width: 100%;
    justify-content: space-between;
    display: flex;
    column-gap: spacing.$xs;
    button {
      padding: 18px;
    }
    > a {
      display: none;
    }
    @include mixins.media-query(sizes.$tablet-xs-vw) {
      width: auto;
      > a {
        display: block;
      }
    }

    @include mixins.media-query(sizes.$tablet-vw) {
      > button {
        display: none;
      }
    }
  }

  &__right {
    align-items: center;
  }
}

.menu {
  position: static;

  ul {
    gap: 1rem;
    padding: 0;
  }

  @include mixins.max-media-query(sizes.$tablet-vw) {
    display: none;
    top: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    padding-inline: spacing.$sm;

    ul {
      padding: spacing.$xxs;
      margin-top: spacing.$xs;
      background-color: rgba(20, 20, 20, 0.95);
      flex-direction: column;
    }
    &.active {
      display: block;
    }
  }
}
