@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";

.header {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  max-height: 50px;
  background-color: red;

  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left,
  &__right {
    display: flex;
    column-gap: spacing.$xs;
  }

  &__right {
    align-items: center;
  }

  ul {
    column-gap: 1rem;
  }
}
