@use "@/styles/settings/spacing";
@use "@/styles/settings/colors";

.checkbox-container {
  display: flex;
  column-gap: spacing.$tiny;
  color: colors.$text-thertiary;
  line-height: 1.8;
}

.checkbox {
  position: relative;
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid colors.$input-border;

    &:checked {
      border: 1px solid colors.$bg-primary;
    }

    &:checked + svg {
      display: block;
    }
  }
  svg {
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 3px;
    right: 0;
    display: none;
  }
}
