@use "@/styles/settings/colors";
@use "@/styles/settings/typography";
@use "@/styles/settings/spacing";
@use "@/styles/tools/mixins";
@use "@/styles/settings/sizes";

.chapter {
  background-color: colors.$white;
  padding: spacing.$m spacing.$lg;
  box-shadow: 0px 35px 25px rgba(4, 11, 20, 0.04);
  display: flex;
  flex-direction: column;
  row-gap: spacing.$xxs;

  &__description {
    color: colors.$text-thertiary;
    margin-bottom: spacing.$tiny;
    letter-spacing: -0.01em;
  }

  &__footer {
    display: flex;
    gap: spacing.$xxs;
    flex-direction: column;
    @include mixins.media-query(sizes.$tablet-xs-vw) {
      flex-direction: row;
    }
  }

  &__details-container {
    display: flex;
    align-items: center;
    column-gap: spacing.$xxs;
  }

  &__details {
    color: colors.$text-primary;
    font-size: typography.$text-sm;
    font-family: typography.$font-family-secondary;
    font-weight: bold;
    text-transform: capitalize;
    span {
      color: colors.$text-thertiary;
      font-size: typography.$text-xxs;
      font-family: typography.$font-family-primary;
      font-weight: 400;
      text-transform: none;
    }
  }
}

.circle {
  --size: 16px;
  width: var(--size);
  height: var(--size);
  background-color: colors.$bg-secondary;
  border-radius: 100%;
}
