@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";
@use "@/styles/settings/typography";

.author-story {
  padding-block: spacing.$section-inside-space;

  &__content {
    display: flex;
    column-gap: 100px;
  }

  &__description {
    color: colors.$text-thertiary;
    line-height: 1.8;
    letter-spacing: -0.01em;
  }

  &__image-container {
    min-width: 600px;
    height: 650px;
    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }
  }
}

.content {
  &__left {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$sm;
  }

  &__right {
  }
}

.timeline {
  --number-size: 65px;
  --padding-left: 45px;
  position: relative;
  padding-left: var(--padding-left);

  &::before {
    content: "";
    height: 60%;
    width: 100%;
    top: 50%;
    transform: translateY(-60%);
    position: absolute;
    left: var(--padding-left);
    background-image: linear-gradient(black 33%, rgba(255, 255, 255, 0) 0%);
    background-position: calc(var(--number-size) / 2);
    background-size: 2px 12px;
    background-repeat: repeat-y;
    z-index: -1;
  }

  &__row {
    display: flex;
    column-gap: 40px;
    margin-bottom: spacing.$sm;
  }

  &__number {
    min-width: 65px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: colors.$bg-secondary;
    font-size: typography.$text-lg;
    font-weight: bold;
    font-family: typography.$font-family-secondary;
  }

  &__content {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$tiny;
  }

  &__description {
    color: colors.$text-thertiary;
    line-height: 1.8;
    letter-spacing: -0.01em;
  }
}
