@use "@/styles/settings/colors";

.shopping-cart {
  padding: 62px 77px;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  hr {
    border-bottom: 1px solid rgba(colors.$cta-primary, 0.2);
    margin-bottom: 25px;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 61px;
    width: 100%;
  }

  &__footer {
    display: flex;
    flex-direction: column;
  }
}
