$_blue: #1b3764;
$_yellow: #ffca42;
$_grey: #f6f8fc;
$white: #ffffff;

$cta-primary: $_blue;
$cta-secondary: $_yellow;

$text-primary: $_blue;
$text-secondary: $_grey;
$text-thertiary: $white;

$bg-primary: $_blue;
$bg-secondary: $_yellow;
