$_blue: #1b3764;
$_yellow: #ffca42;
$_grey: #f6f8fc;
$_gray_alt: #b4c7e7;
$_blue-light: #f4f8ff;
$_blue-light-alt: #f5f8fc;
$white: #ffffff;

$cta-primary: $_blue;
$cta-secondary: $_yellow;
$cta-secondary-light: $_gray_alt;

$text-primary: $_blue;
$text-secondary: $_yellow;
$text-secondary-light: $_gray_alt;
$text-thertiary: #969aa0;

$bg-primary: $_blue;
$bg-primary-light: $_blue-light;
$bg-primary-light-alt: $_blue-light-alt;
$bg-secondary: $_yellow;
$bg-thertiary: $_grey;

$input-border: #dce1e9;

$shadow-dark: rgba(4, 11, 20, 0.15);

$colors: (
  "primary": $cta-primary,
  "secondary": $cta-secondary,
  "secondary-light": $text-secondary-light,
  "thertiary": $text-thertiary,
  "white": $white,
);
