$desktop: 1300px;
$mobile: 425px;
$mobile-xs: 375px;

$mobile-vw-xs: "MOBILE_WW-XS";
$mobile-vw: "MOBILE_VW";
$desktop-vw: "DESKTOP_VW";

$screen-sizes: (
  #{$mobile-vw-xs}: $mobile-xs,
  #{$mobile-vw}: $mobile,
  #{$desktop-vw}: $desktop
);
