@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";
@use "@/styles/tools/mixins";
@use "@/styles/settings/sizes";

.changelog {
  padding-block: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    background-color: colors.$grey-concrete;
    padding: spacing.$sm spacing.$xs;
    row-gap: spacing.$xs;
    display: flex;
    flex-direction: column;

    @include mixins.media-query(sizes.$tablet-vw) {
      padding: spacing.$lg spacing.$xl;
      align-items: center;
    }
  }

  &__version {
    background-color: colors.$bg-secondary;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    color: colors.$text-thertiary;
  }
}
