@use "@/styles/settings/typography";
@use "@/styles/settings/colors";

.heading {
  font-family: typography.$font-family-secondary;
  font-weight: 700;
  line-height: 1.2;
  &--small {
    font-size: typography.$text-md;
  }

  &--medium {
    font-size: typography.$text-xl;
  }

  &--large {
    font-size: typography.$text-huge;
  }

  &--primary {
    color: colors.$text-primary;
  }

  &--secondary {
    color: colors.$text-secondary;
  }

  &--white {
    color: colors.$white;
  }
}
