@use "@/styles/settings/spacing";
@use "@/styles/settings/colors";
@use "@/styles/tools/mixins";
@use "@/styles/settings/sizes";

@mixin boxes-color($colors) {
  @each $name, $color in $colors {
    &--#{$name} {
      background-color: $color;
    }
  }
}

.box-container {
  text-align: center;
}

.box {
  --box-size: 200px;
  width: 100%;
  min-height: var(--box-size);
  min-width: var(--box-size);
  margin-bottom: spacing.$xs;
  @include boxes-color(colors.$colors);

  @include mixins.media-query(sizes.$tablet-vw) {
    width: initial;
  }
}
