@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";
@use "@/styles/settings/typography";

.about-author {
  padding-block: spacing.$section-inside-space;
  background-color: colors.$bg-thertiary;

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto, 1fr;
    row-gap: 80px;
    column-gap: 110px;
  }

  &__image-container {
    box-shadow: 0px 35px 45px rgba(4, 11, 20, 0.15);
    grid-column: 1 / -1;
    img {
      width: 100%;
      object-fit: cover;
      height: 700px;
      max-height: 700px;
    }
  }

  &__information {
    background-color: colors.$white;
    padding: spacing.$m spacing.$lg;
    display: flex;
    flex-direction: column;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: spacing.$xs;

    &__text {
      color: colors.$text-thertiary;
      line-height: 1.8;
      letter-spacing: -0.01em;
      margin-bottom: spacing.$tiny;
    }
  }
}

.information {
  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    row-gap: spacing.$tiny;
  }

  &__title {
    color: colors.$text-primary;
    font-size: typography.$text-md;
    font-weight: bold;
    font-family: typography.$font-family-secondary;
  }

  &__description {
    width: 30%;
    color: colors.$text-thertiary;
  }
}
