@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";
@use "@/styles/settings/typography";

.article-section {
  display: flex;
  flex-direction: column;
  row-gap: spacing.$tiny;
  &__description {
    color: colors.$text-thertiary;
    line-height: 1.8;
    letter-spacing: -0.01em;
  }

  &__list {
    color: colors.$text-primary;
    margin-bottom: spacing.$sm;
    ul {
      display: flex;
      flex-direction: column;
      row-gap: spacing.$xs;
    }
  }
}
