@use "@/styles/settings/spacing";
@use "@/styles/tools/mixins";
@use "@/styles/settings/sizes";

.author-books {
  padding-block: spacing.$section-inside-space;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$lg;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 66px;
    > * {
      flex-direction: column;
    }

    @include mixins.media-query(sizes.$desktop-vw) {
      flex-direction: row;

      > * {
        width: calc(100% / 2 - 66px);
      }
    }

    @include mixins.media-query(sizes.$tablet-xs-vw) {
      > * {
        flex-direction: row;
      }
    }
  }
}
