@use "@/styles/settings/spacing";

.author-books {
  padding-block: spacing.$section-inside-space;
  &__content {
    display: flex;
    flex-direction: column;
    row-gap: spacing.$lg;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 66px;
  }
}
