@use "@/styles/settings/colors";
@use "@/styles/settings/spacing";

.quote {
  position: relative;
  background-color: colors.$bg-primary;
  text-align: center;
  padding: spacing.$lg;
  color: colors.$white;
  font-weight: 500;
  border-radius: 5px;

  &__quotes {
    top: 0;
    left: spacing.$sm;
    position: absolute;
    display: flex;
    column-gap: spacing.$xxs;
  }
}
